build/
.clangd/
.cache/
*.bin
*.json
*.h5
*.hdf5
test_output/
.vscode/
.idea/
3rdParty/*
!3rdParty/depthai-core
!3rdParty/engineering_framework
*.log
recordings/
*_images/
*.jpg
*.jpeg
*.jsonl
# Python caches
*.pyc

# PyInstaller
build/
dist/
build_pyinstaller/
*.spec

# WiX / Installer
*.wixobj
*.wixpdb
files.wxs
*.msi
